<h2>Index</h2>
<h3>Hello <%= user.name %></h3>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<a href="/login">Login</a>
<a href="/register">Register</a>
<a href="/users">View Users</a>
<a href="/cart">View Cart</a>
